Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

atlantis.yaml:

---
version: 3
automerge: true
delete_source_branch_on_merge: true
projects:
  - &template
    name: placeholder
    dir: placeholder
    workspace: default
    workflow: opentofu
    autoplan:
      enabled: true
      when_modified: ["*"]

  - <<: *template
    name: authelia
    dir: ./authelia/

  - <<: *template
    name: authentik
    dir: ./authentik/

  - <<: *template
    name: bazarr
    dir: ./bazarr/

  - <<: *template
    name: ceph-csi
    dir: ./ceph-csi/

  - <<: *template
    name: cloudflare-agent
    dir: ./cloudflare-agent/

  - <<: *template
    name: cloudflare-agent-cpl
    dir: ./cloudflare-agent-cpl/

  - <<: *template
    name: crowdsec
    dir: ./crowdsec/
    silence_pr_comments: [apply]

  - <<: *template
    name: flaresolverr
    dir: ./flaresolverr/

  - <<: *template
    name: gitea
    dir: ./gitea/
    silence_pr_comments: [apply]

  - <<: *template
    name: grafana
    dir: ./grafana/

  - <<: *template
    name: hashistack-backup
    dir: ./hashistack-backup/

  - <<: *template
    name: housekeeping-agent
    dir: ./housekeeping-agent/

  - <<: *template
    name: lldap
    dir: ./lldap/

  - <<: *template
    name: metrics
    dir: ./metrics/

  - <<: *template
    name: nextcloud
    dir: ./nextcloud/

  - <<: *template
    name: nfs-csi
    dir: ./nfs-csi/

  - <<: *template
    name: overseerr
    dir: ./overseerr/

  - <<: *template
    name: prowlarr
    dir: ./prowlarr/

  - <<: *template
    name: qbittorrent
    dir: ./qbittorrent/

  - <<: *template
    name: radarr
    dir: ./radarr/

  - <<: *template
    name: resume
    dir: ./resume/

  - <<: *template
    name: sonarr
    dir: ./sonarr/

  - <<: *template
    name: tautulli
    dir: ./tautulli/

  - <<: *template
    name: teamspeak
    dir: ./teamspeak/

  - <<: *template
    name: traefik
    dir: ./traefik/
    silence_pr_comments: [apply]

  - <<: *template
    name: vaultwarden
    dir: ./vaultwarden/

workflows:
  opentofu:
    plan:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu plan
    apply:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu apply -auto-approve

chore(deps): update linuxserver/qbittorrent:latest docker digest to 50f4907
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/bazarr:latest docker digest to 0b3e1b8
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/tautulli:latest docker digest to fa8f573
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/sonarr:develop docker digest to e7d7be2
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update docker:latest docker digest to ddf7f6f
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/sonarr:develop docker digest to 71d020b
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/prowlarr docker tag to v1.32.2
  prowlarr/job/job.nomad.hcl
Due: prowlarr

chore: disable teamspeak and vaultwarden post-migration
  teamspeak/README.md
  teamspeak/locals.tf
  vaultwarden/README.md
  vaultwarden/locals.tf
Due: teamspeak, vaultwarden

chore(deps): update ghcr.io/goauthentik/server docker tag to v2025.2.2
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update docker:latest docker digest to 2bb691b
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/bazarr:latest docker digest to fffd753
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/tautulli:latest docker digest to cda58fe
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/radarr docker tag to v5.21.1
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to dc9e13d
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/wireguard:latest docker digest to 0dfaeb5
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/bazarr:latest docker digest to 8e93c08
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 86c291c
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update docker:latest docker digest to 4924fec
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update crowdsecurity/crowdsec docker tag to v1.6.8
  crowdsec/job/job.nomad.hcl
Due: crowdsec

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2025.2.3
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update nextcloud docker tag to v31.0.2
  nextcloud/job/job.nomad.hcl
Due: nextcloud

chore(deps): update grafana/grafana-oss docker tag to v11.6.0
  grafana/job/job.nomad.hcl
Due: grafana

chore(deps): update linuxserver/overseerr docker digest to 314a170
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/sonarr:develop docker digest to 7ff4b7d
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update ednxzu/keepalived docker tag to v2.3.3
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2025.2.3
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/tautulli:latest docker digest to 574963b
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/wireguard:latest docker digest to d83e18e
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/runatlantis/atlantis docker tag to v0.34.0
  atlantis/job/job.nomad.hcl
Due: none

chore(deps): update linuxserver/overseerr docker digest to b5bd87c
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update terraform nomad to ~> 2.4.0
  atlantis/main.tf
  authelia/main.tf
  authentik/main.tf
  bazarr/main.tf
  ceph-csi/main.tf
  cloudflare-agent-cpl/main.tf
  cloudflare-agent/main.tf
  crowdsec/main.tf
  flaresolverr/main.tf
  gitea/main.tf
  grafana/main.tf
  hashistack-backup/main.tf
  housekeeping-agent/main.tf
  lldap/main.tf
  metrics/main.tf
  nextcloud/main.tf
  nfs-csi/main.tf
  overseerr/main.tf
  prowlarr/main.tf
  qbittorrent/main.tf
  radarr/main.tf
  resume/main.tf
  sonarr/main.tf
  tautulli/main.tf
  teamspeak/main.tf
  traefik/main.tf
  vaultwarden/main.tf
Due: authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

chore(deps): update traefik docker tag to v3
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update terraform vault to ~> 4.7.0
  atlantis/main.tf
  authelia/main.tf
  authentik/main.tf
  bazarr/main.tf
  ceph-csi/main.tf
  cloudflare-agent-cpl/main.tf
  cloudflare-agent/main.tf
  crowdsec/main.tf
  flaresolverr/main.tf
  gitea/main.tf
  grafana/main.tf
  hashistack-backup/main.tf
  housekeeping-agent/main.tf
  lldap/main.tf
  metrics/main.tf
  nextcloud/main.tf
  nfs-csi/main.tf
  overseerr/main.tf
  prowlarr/main.tf
  qbittorrent/main.tf
  radarr/main.tf
  resume/main.tf
  sonarr/main.tf
  tautulli/main.tf
  teamspeak/main.tf
  traefik/main.tf
  vaultwarden/main.tf
Due: authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

chore(deps): update terraform consul to ~> 2.21.0
  atlantis/main.tf
  authelia/main.tf
  authentik/main.tf
  bazarr/main.tf
  ceph-csi/main.tf
  cloudflare-agent-cpl/main.tf
  cloudflare-agent/main.tf
  crowdsec/main.tf
  flaresolverr/main.tf
  gitea/main.tf
  grafana/main.tf
  hashistack-backup/main.tf
  housekeeping-agent/main.tf
  lldap/main.tf
  metrics/main.tf
  nextcloud/main.tf
  nfs-csi/main.tf
  overseerr/main.tf
  prowlarr/main.tf
  qbittorrent/main.tf
  radarr/main.tf
  resume/main.tf
  sonarr/main.tf
  tautulli/main.tf
  teamspeak/main.tf
  traefik/main.tf
  vaultwarden/main.tf
Due: authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

chore(deps): update linuxserver/tautulli:latest docker digest to f28b155
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update grafana/loki:latest docker digest to 5fe9fa9
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to c48ca06
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/sonarr:develop docker digest to 3508144
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to d579e38
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 648291f
  lldap/job/job.nomad.hcl
Due: lldap
