Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

placeholder:
  dir: placeholder
  workspace: default
  workflow: opentofu

authelia:
  dir: ./authelia/
  workspace: default
  workflow: opentofu

authentik:
  dir: ./authentik/
  workspace: default
  workflow: opentofu

bazarr:
  dir: ./bazarr/
  workspace: default
  workflow: opentofu

ceph-csi:
  dir: ./ceph-csi/
  workspace: default
  workflow: opentofu

cloudflare-agent:
  dir: ./cloudflare-agent/
  workspace: default
  workflow: opentofu

cloudflare-agent-cpl:
  dir: ./cloudflare-agent-cpl/
  workspace: default
  workflow: opentofu

crowdsec:
  dir: ./crowdsec/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

flaresolverr:
  dir: ./flaresolverr/
  workspace: default
  workflow: opentofu

gitea:
  dir: ./gitea/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

grafana:
  dir: ./grafana/
  workspace: default
  workflow: opentofu

hashistack-backup:
  dir: ./hashistack-backup/
  workspace: default
  workflow: opentofu

housekeeping-agent:
  dir: ./housekeeping-agent/
  workspace: default
  workflow: opentofu

lldap:
  dir: ./lldap/
  workspace: default
  workflow: opentofu

metrics:
  dir: ./metrics/
  workspace: default
  workflow: opentofu

nextcloud:
  dir: ./nextcloud/
  workspace: default
  workflow: opentofu

nfs-csi:
  dir: ./nfs-csi/
  workspace: default
  workflow: opentofu

overseerr:
  dir: ./overseerr/
  workspace: default
  workflow: opentofu

prowlarr:
  dir: ./prowlarr/
  workspace: default
  workflow: opentofu

qbittorrent:
  dir: ./qbittorrent/
  workspace: default
  workflow: opentofu

radarr:
  dir: ./radarr/
  workspace: default
  workflow: opentofu

resume:
  dir: ./resume/
  workspace: default
  workflow: opentofu

sonarr:
  dir: ./sonarr/
  workspace: default
  workflow: opentofu

tautulli:
  dir: ./tautulli/
  workspace: default
  workflow: opentofu

teamspeak:
  dir: ./teamspeak/
  workspace: default
  workflow: opentofu

traefik:
  dir: ./traefik/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

vaultwarden:
  dir: ./vaultwarden/
  workspace: default
  workflow: opentofu

chore(deps): update linuxserver/sonarr:develop docker digest to 1cdc6f7
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2025.10.1
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2025.10.1
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update terraform vault to ~> 5.4.0
  atlantis/main.tf
  authelia/main.tf
  authentik/main.tf
  bazarr/main.tf
  ceph-csi/main.tf
  cloudflare-agent-cpl/main.tf
  cloudflare-agent/main.tf
  crowdsec/main.tf
  flaresolverr/main.tf
  gitea/main.tf
  grafana/main.tf
  hashistack-backup/main.tf
  housekeeping-agent/main.tf
  lldap/main.tf
  metrics/main.tf
  nextcloud/main.tf
  nfs-csi/main.tf
  overseerr/main.tf
  prowlarr/main.tf
  qbittorrent/main.tf
  radarr/main.tf
  resume/main.tf
  sonarr/main.tf
  tautulli/main.tf
  teamspeak/main.tf
  traefik/main.tf
  vaultwarden/main.tf
Due: authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

chore(deps): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.4.4
  flaresolverr/job/job.nomad.hcl
Due: flaresolverr

chore(deps): update docker:latest docker digest to 2a232a4
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update grafana/loki:latest docker digest to 00981fd
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update traefik docker tag to v3.6
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 36482c2
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/qbittorrent:latest docker digest to 029c00d
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.4.5
  flaresolverr/job/job.nomad.hcl
Due: flaresolverr

chore(deps): update ghcr.io/runatlantis/atlantis docker tag to v0.37.1
  atlantis/job/job.nomad.hcl
Due: none

chore(deps): update postgres docker tag to v18.1
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/qbittorrent:latest docker digest to a5b277b
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update docker:latest docker digest to ecac43e
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/radarr docker tag to v6
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update linuxserver/prowlarr docker tag to v2.3.0
  prowlarr/job/job.nomad.hcl
Due: prowlarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 761bb5c
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/qbittorrent:latest docker digest to 7034f73
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update redis docker tag to v8.4
  authentik/job/job.nomad.hcl
  gitea/job/job.nomad.hcl
  nextcloud/job/job.nomad.hcl
Due: authentik, gitea, nextcloud

chore(deps): update docker:latest docker digest to d003717
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update grafana/loki:latest docker digest to 6a705de
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 0331617
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/sonarr:develop docker digest to 77489be
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update grafana/loki:latest docker digest to 92bd570
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update nextcloud docker tag to v32.0.2
  nextcloud/job/job.nomad.hcl
Due: nextcloud

chore(deps): update linuxserver/tautulli:latest docker digest to be2aefc
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 82c4289
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/wireguard:latest docker digest to e93cfa4
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/overseerr docker digest to 19fe26c
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2025.10.2
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2025.10.2
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/qbittorrent:latest docker digest to 9752b4f
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update grafana/loki:latest docker digest to fad94db
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/qbittorrent:latest docker digest to 26a08cd
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

Path conditions:
  placeholder: any of: placeholder/*
  authelia: any of: authelia/*
  authentik: any of: authentik/*
  bazarr: any of: bazarr/*
  ceph-csi: any of: ceph-csi/*
  cloudflare-agent: any of: cloudflare-agent/*
  cloudflare-agent-cpl: any of: cloudflare-agent-cpl/*
  crowdsec: any of: crowdsec/*
  flaresolverr: any of: flaresolverr/*
  gitea: any of: gitea/*
  grafana: any of: grafana/*
  hashistack-backup: any of: hashistack-backup/*
  housekeeping-agent: any of: housekeeping-agent/*
  lldap: any of: lldap/*
  metrics: any of: metrics/*
  nextcloud: any of: nextcloud/*
  nfs-csi: any of: nfs-csi/*
  overseerr: any of: overseerr/*
  prowlarr: any of: prowlarr/*
  qbittorrent: any of: qbittorrent/*
  radarr: any of: radarr/*
  resume: any of: resume/*
  sonarr: any of: sonarr/*
  tautulli: any of: tautulli/*
  teamspeak: any of: teamspeak/*
  traefik: any of: traefik/*
  vaultwarden: any of: vaultwarden/*
