Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

atlantis.yaml:

---
version: 3
automerge: true
delete_source_branch_on_merge: true
projects:
  - &template
    name: placeholder
    dir: placeholder
    workspace: default
    workflow: opentofu
    autoplan:
      enabled: true
      when_modified: ["*"]

  - <<: *template
    name: authelia
    dir: ./authelia/

  - <<: *template
    name: authentik
    dir: ./authentik/

  - <<: *template
    name: bazarr
    dir: ./bazarr/

  - <<: *template
    name: ceph-csi
    dir: ./ceph-csi/

  - <<: *template
    name: cloudflare-agent
    dir: ./cloudflare-agent/

  - <<: *template
    name: cloudflare-agent-cpl
    dir: ./cloudflare-agent-cpl/

  - <<: *template
    name: crowdsec
    dir: ./crowdsec/
    silence_pr_comments: [apply]

  - <<: *template
    name: flaresolverr
    dir: ./flaresolverr/

  - <<: *template
    name: gitea
    dir: ./gitea/
    silence_pr_comments: [apply]

  - <<: *template
    name: grafana
    dir: ./grafana/

  - <<: *template
    name: hashistack-backup
    dir: ./hashistack-backup/

  - <<: *template
    name: housekeeping-agent
    dir: ./housekeeping-agent/

  - <<: *template
    name: lldap
    dir: ./lldap/

  - <<: *template
    name: metrics
    dir: ./metrics/

  - <<: *template
    name: nextcloud
    dir: ./nextcloud/

  - <<: *template
    name: nfs-csi
    dir: ./nfs-csi/

  - <<: *template
    name: overseerr
    dir: ./overseerr/

  - <<: *template
    name: prowlarr
    dir: ./prowlarr/

  - <<: *template
    name: qbittorrent
    dir: ./qbittorrent/

  - <<: *template
    name: radarr
    dir: ./radarr/

  - <<: *template
    name: resume
    dir: ./resume/

  - <<: *template
    name: sonarr
    dir: ./sonarr/

  - <<: *template
    name: tautulli
    dir: ./tautulli/

  - <<: *template
    name: teamspeak
    dir: ./teamspeak/

  - <<: *template
    name: traefik
    dir: ./traefik/
    silence_pr_comments: [apply]

  - <<: *template
    name: vaultwarden
    dir: ./vaultwarden/

workflows:
  opentofu:
    plan:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu plan
    apply:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu apply -auto-approve

chore(deps): update grafana/grafana-oss docker tag to v11.2.0
  grafana/job/job.nomad.hcl
Due: grafana

chore(deps): update linuxserver/bazarr:latest docker digest to aa904c1
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to a240a07
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update docker:latest docker digest to f9f72ad
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/tautulli:latest docker digest to 19d9f3e
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/sonarr:develop docker digest to 56e8a9f
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update ghcr.io/runatlantis/atlantis docker tag to v0.29.0
  atlantis/job/job.nomad.hcl
Due: none

chore: remove unused gitea actions
  .gitea/scripts/deploy_stacks.py
  .gitea/scripts/requirements.txt
  .gitea/workflows/deploy-stacks.yml
  .gitea/workflows/pull-requests-open.yml
Due: none

chore(deps): update linuxserver/prowlarr docker tag to v1.23.1
  prowlarr/job/job.nomad.hcl
Due: prowlarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to c1b30f3
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/sonarr:develop docker digest to 82e11bb
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update ghcr.io/goauthentik/server docker tag to v2024.8.0
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/bazarr:latest docker digest to 0364bb3
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/sonarr:develop docker digest to 6fa1147
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/overseerr docker digest to d07a41c
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/wireguard:latest docker digest to e322c9e
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/tautulli:latest docker digest to d2a93f8
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update docker:latest docker digest to d1d6d52
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update ghcr.io/goauthentik/server docker tag to v2024.8.1
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/qbittorrent:latest docker digest to 5c89a1c
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 85ec46b
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update docker:latest docker digest to c51fa20
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/bazarr:latest docker digest to 16a30c1
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update docker:latest docker digest to 294f99b
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/overseerr docker digest to 51cc014
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 72a5d1b
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/wireguard:latest docker digest to eb3032c
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update crowdsecurity/crowdsec docker tag to v1.6.3
  crowdsec/job/job.nomad.hcl
Due: crowdsec

chore(deps): update linuxserver/tautulli:latest docker digest to 752f03d
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update docker:latest docker digest to 7e8d184
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update favonia/cloudflare-ddns:latest docker digest to 9e41057
  cloudflare-agent-cpl/job/job.nomad.hcl
  cloudflare-agent/job/job.nomad.hcl
Due: cloudflare-agent, cloudflare-agent-cpl

chore(deps): update linuxserver/sonarr:develop docker digest to d5edfc4
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update ich777/teamspeak:latest docker digest to 604cdab
  teamspeak/job/job.nomad.hcl
Due: teamspeak

chore(deps): update ghcr.io/goauthentik/server docker tag to v2024.8.2
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/qbittorrent:latest docker digest to de40aa9
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/bazarr:latest docker digest to 71f545e
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update docker:latest docker digest to db7c4d6
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/overseerr docker digest to a0b3387
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update nextcloud docker tag to v30
  nextcloud/job/job.nomad.hcl
Due: nextcloud

chore(deps): update linuxserver/wireguard:latest docker digest to ed7b8ab
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent
