Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

atlantis.yaml:

---
version: 3
automerge: true
delete_source_branch_on_merge: true
projects:
  - &template
    name: placeholder
    dir: placeholder
    workspace: default
    workflow: opentofu
    autoplan:
      enabled: true
      when_modified: ["*"]

  - <<: *template
    name: authelia
    dir: ./authelia/

  - <<: *template
    name: authentik
    dir: ./authentik/

  - <<: *template
    name: bazarr
    dir: ./bazarr/

  - <<: *template
    name: ceph-csi
    dir: ./ceph-csi/

  - <<: *template
    name: cloudflare-agent
    dir: ./cloudflare-agent/

  - <<: *template
    name: cloudflare-agent-cpl
    dir: ./cloudflare-agent-cpl/

  - <<: *template
    name: crowdsec
    dir: ./crowdsec/
    silence_pr_comments: [apply]

  - <<: *template
    name: flaresolverr
    dir: ./flaresolverr/

  - <<: *template
    name: gitea
    dir: ./gitea/
    silence_pr_comments: [apply]

  - <<: *template
    name: grafana
    dir: ./grafana/

  - <<: *template
    name: hashistack-backup
    dir: ./hashistack-backup/

  - <<: *template
    name: housekeeping-agent
    dir: ./housekeeping-agent/

  - <<: *template
    name: lldap
    dir: ./lldap/

  - <<: *template
    name: metrics
    dir: ./metrics/

  - <<: *template
    name: nextcloud
    dir: ./nextcloud/

  - <<: *template
    name: nfs-csi
    dir: ./nfs-csi/

  - <<: *template
    name: overseerr
    dir: ./overseerr/

  - <<: *template
    name: prowlarr
    dir: ./prowlarr/

  - <<: *template
    name: qbittorrent
    dir: ./qbittorrent/

  - <<: *template
    name: radarr
    dir: ./radarr/

  - <<: *template
    name: resume
    dir: ./resume/

  - <<: *template
    name: sonarr
    dir: ./sonarr/

  - <<: *template
    name: tautulli
    dir: ./tautulli/

  - <<: *template
    name: teamspeak
    dir: ./teamspeak/

  - <<: *template
    name: traefik
    dir: ./traefik/
    silence_pr_comments: [apply]

  - <<: *template
    name: vaultwarden
    dir: ./vaultwarden/

workflows:
  opentofu:
    plan:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu plan
    apply:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu apply -auto-approve

chore(deps): update linuxserver/qbittorrent:latest docker digest to c410557
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/radarr docker tag to v5.12.2
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update linuxserver/tautulli:latest docker digest to ac17e75
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/qbittorrent:latest docker digest to 1950c07
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update vaultwarden/server docker tag to v1.32.2
  vaultwarden/job/job.nomad.hcl
Due: vaultwarden

chore(deps): update linuxserver/bazarr:latest docker digest to 5baf571
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to a138f7f
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/tautulli:latest docker digest to a969f1b
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update grafana/loki:latest docker digest to ae0d783
  metrics/job/job.nomad.hcl
Due: metrics

fix: loki config following upgrade
  metrics/.terraform.lock.hcl
  metrics/job/config/loki/loki.yml
Due: metrics

chore(deps): update linuxserver/qbittorrent:latest docker digest to d713d35
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

feat: remove authentik deployment and add new outpost for traefik
  authentik/.terraform.lock.hcl
  authentik/locals.tf
  traefik/.terraform.lock.hcl
  traefik/job/config/authentik/authentik.env
  traefik/job/job.nomad.hcl
  traefik/locals.tf
Due: authentik, traefik

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 6990d64
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/prowlarr docker tag to v1.25.4
  prowlarr/job/job.nomad.hcl
Due: prowlarr

chore(deps): update prom/prometheus docker tag to v2.55.0
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update grafana/grafana-oss docker tag to v11.3.0
  grafana/job/job.nomad.hcl
Due: grafana

chore(deps): update linuxserver/bazarr:latest docker digest to 5e915ab
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 52e9fde
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/tautulli:latest docker digest to 56754aa
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/radarr docker tag to v5.14.0
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update linuxserver/sonarr:develop docker digest to 62f2f91
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to d01b1df
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update vaultwarden/server docker tag to v1.32.3
  vaultwarden/job/job.nomad.hcl
Due: vaultwarden

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 3ac61e6
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 5edf024
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/bazarr:latest docker digest to 81e9220
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update docker:latest docker digest to 61b179d
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 620d4f7
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update docker:latest docker digest to bda6cf6
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2024.10.0
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2024.10.0
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/tautulli:latest docker digest to 4836ba1
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/qbittorrent:latest docker digest to 1d587c8
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore: remove gitea deployment after migration to k8s
  gitea/.terraform.lock.hcl
  gitea/locals.tf
Due: gitea

chore(deps): update linuxserver/mariadb docker tag to v10.11.10
  gitea/job/job.nomad.hcl
  lldap/job/job.nomad.hcl
  nextcloud/job/job.nomad.hcl
  vaultwarden/job/job.nomad.hcl
Due: gitea, lldap, nextcloud, vaultwarden

chore(deps): update linuxserver/sonarr:develop docker digest to 1bf2027
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2024.10.1
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2024.10.1
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/bazarr:latest docker digest to 8868433
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update docker:latest docker digest to ccfd877
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent
