Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

placeholder:
  dir: placeholder
  workspace: default
  workflow: opentofu

authelia:
  dir: ./authelia/
  workspace: default
  workflow: opentofu

authentik:
  dir: ./authentik/
  workspace: default
  workflow: opentofu

bazarr:
  dir: ./bazarr/
  workspace: default
  workflow: opentofu

ceph-csi:
  dir: ./ceph-csi/
  workspace: default
  workflow: opentofu

cloudflare-agent:
  dir: ./cloudflare-agent/
  workspace: default
  workflow: opentofu

cloudflare-agent-cpl:
  dir: ./cloudflare-agent-cpl/
  workspace: default
  workflow: opentofu

crowdsec:
  dir: ./crowdsec/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

flaresolverr:
  dir: ./flaresolverr/
  workspace: default
  workflow: opentofu

gitea:
  dir: ./gitea/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

grafana:
  dir: ./grafana/
  workspace: default
  workflow: opentofu

hashistack-backup:
  dir: ./hashistack-backup/
  workspace: default
  workflow: opentofu

housekeeping-agent:
  dir: ./housekeeping-agent/
  workspace: default
  workflow: opentofu

lldap:
  dir: ./lldap/
  workspace: default
  workflow: opentofu

metrics:
  dir: ./metrics/
  workspace: default
  workflow: opentofu

nextcloud:
  dir: ./nextcloud/
  workspace: default
  workflow: opentofu

nfs-csi:
  dir: ./nfs-csi/
  workspace: default
  workflow: opentofu

overseerr:
  dir: ./overseerr/
  workspace: default
  workflow: opentofu

prowlarr:
  dir: ./prowlarr/
  workspace: default
  workflow: opentofu

qbittorrent:
  dir: ./qbittorrent/
  workspace: default
  workflow: opentofu

radarr:
  dir: ./radarr/
  workspace: default
  workflow: opentofu

resume:
  dir: ./resume/
  workspace: default
  workflow: opentofu

sonarr:
  dir: ./sonarr/
  workspace: default
  workflow: opentofu

tautulli:
  dir: ./tautulli/
  workspace: default
  workflow: opentofu

teamspeak:
  dir: ./teamspeak/
  workspace: default
  workflow: opentofu

traefik:
  dir: ./traefik/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

vaultwarden:
  dir: ./vaultwarden/
  workspace: default
  workflow: opentofu

chore(deps): update linuxserver/bazarr:latest docker digest to 67039e2
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to c5297be
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/wireguard:latest docker digest to 3be1e46
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/qbittorrent:latest docker digest to 2952d03
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update docker:latest docker digest to 9337966
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to ebe2e2b
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/overseerr docker digest to 83e6fc7
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/tautulli:latest docker digest to 5e35401
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update docker:latest docker digest to 3ab005a
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/prowlarr docker tag to v1.30.2
  prowlarr/job/job.nomad.hcl
Due: prowlarr

chore(deps): update linuxserver/sonarr:develop docker digest to 069c3fa
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/wireguard:latest docker digest to 9873f20
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update vaultwarden/server docker tag to v1.33.0
  vaultwarden/job/job.nomad.hcl
Due: vaultwarden

chore(deps): update linuxserver/sonarr:develop docker digest to ebd0aef
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to 9b028f8
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 80b7a9a
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/bazarr:latest docker digest to 8415caa
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to e153f23
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/overseerr docker digest to 637ba96
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2024.12.3
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2024.12.3
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update grafana/grafana-oss docker tag to v11.5.0
  grafana/job/job.nomad.hcl
Due: grafana

chore(deps): update linuxserver/wireguard:latest docker digest to 83a31cd
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/sonarr:develop docker digest to 4d887a6
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to da0d216
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update grafana/grafana-oss docker tag to v11.5.1
  grafana/job/job.nomad.hcl
Due: grafana

chore(deps): update vaultwarden/server docker tag to v1.33.1
  vaultwarden/job/job.nomad.hcl
Due: vaultwarden

chore(deps): update linuxserver/radarr docker tag to v5.18.4
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to fc059f1
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update docker:latest docker digest to ba55987
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update ghcr.io/runatlantis/atlantis docker tag to v0.33.0
  atlantis/job/job.nomad.hcl
Due: none

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to e4b9a03
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/tautulli:latest docker digest to 153056c
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/wireguard:latest docker digest to c095b08
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/qbittorrent:latest docker digest to c8bb0ac
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/tautulli:latest docker digest to 1280f7c
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/sonarr:develop docker digest to 78a2df8
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to 2262eeb
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update vaultwarden/server docker tag to v1.33.2
  vaultwarden/job/job.nomad.hcl
Due: vaultwarden

chore(deps): update crowdsecurity/crowdsec docker tag to v1.6.5
  crowdsec/job/job.nomad.hcl
Due: crowdsec

Path conditions:
  placeholder: any of: placeholder/*
  authelia: any of: authelia/*
  authentik: any of: authentik/*
  bazarr: any of: bazarr/*
  ceph-csi: any of: ceph-csi/*
  cloudflare-agent: any of: cloudflare-agent/*
  cloudflare-agent-cpl: any of: cloudflare-agent-cpl/*
  crowdsec: any of: crowdsec/*
  flaresolverr: any of: flaresolverr/*
  gitea: any of: gitea/*
  grafana: any of: grafana/*
  hashistack-backup: any of: hashistack-backup/*
  housekeeping-agent: any of: housekeeping-agent/*
  lldap: any of: lldap/*
  metrics: any of: metrics/*
  nextcloud: any of: nextcloud/*
  nfs-csi: any of: nfs-csi/*
  overseerr: any of: overseerr/*
  prowlarr: any of: prowlarr/*
  qbittorrent: any of: qbittorrent/*
  radarr: any of: radarr/*
  resume: any of: resume/*
  sonarr: any of: sonarr/*
  tautulli: any of: tautulli/*
  teamspeak: any of: teamspeak/*
  traefik: any of: traefik/*
  vaultwarden: any of: vaultwarden/*
