Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

atlantis.yaml:

---
version: 3
automerge: true
delete_source_branch_on_merge: true
projects:
  - &template
    name: placeholder
    dir: placeholder
    workspace: default
    workflow: opentofu
    autoplan:
      enabled: true
      when_modified: ["*"]

  - <<: *template
    name: authelia
    dir: ./authelia/

  - <<: *template
    name: authentik
    dir: ./authentik/

  - <<: *template
    name: bazarr
    dir: ./bazarr/

  - <<: *template
    name: ceph-csi
    dir: ./ceph-csi/

  - <<: *template
    name: cloudflare-agent
    dir: ./cloudflare-agent/

  - <<: *template
    name: cloudflare-agent-cpl
    dir: ./cloudflare-agent-cpl/

  - <<: *template
    name: crowdsec
    dir: ./crowdsec/
    silence_pr_comments: [apply]

  - <<: *template
    name: flaresolverr
    dir: ./flaresolverr/

  - <<: *template
    name: gitea
    dir: ./gitea/
    silence_pr_comments: [apply]

  - <<: *template
    name: grafana
    dir: ./grafana/

  - <<: *template
    name: hashistack-backup
    dir: ./hashistack-backup/

  - <<: *template
    name: housekeeping-agent
    dir: ./housekeeping-agent/

  - <<: *template
    name: lldap
    dir: ./lldap/

  - <<: *template
    name: metrics
    dir: ./metrics/

  - <<: *template
    name: nextcloud
    dir: ./nextcloud/

  - <<: *template
    name: nfs-csi
    dir: ./nfs-csi/

  - <<: *template
    name: overseerr
    dir: ./overseerr/

  - <<: *template
    name: prowlarr
    dir: ./prowlarr/

  - <<: *template
    name: qbittorrent
    dir: ./qbittorrent/

  - <<: *template
    name: radarr
    dir: ./radarr/

  - <<: *template
    name: resume
    dir: ./resume/

  - <<: *template
    name: sonarr
    dir: ./sonarr/

  - <<: *template
    name: tautulli
    dir: ./tautulli/

  - <<: *template
    name: teamspeak
    dir: ./teamspeak/

  - <<: *template
    name: traefik
    dir: ./traefik/
    silence_pr_comments: [apply]

  - <<: *template
    name: vaultwarden
    dir: ./vaultwarden/

workflows:
  opentofu:
    plan:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu plan
    apply:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu apply -auto-approve

feat: add headers middleware for nextcloud
  nextcloud/job/job.nomad.hcl
Due: nextcloud

fix: missing comma in traefik tags list
  nextcloud/job/job.nomad.hcl
Due: nextcloud

chore(deps): update docker:latest docker digest to 8d50398
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/radarr docker tag to v5.10.4
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update linuxserver/tautulli:latest docker digest to e05f7ee
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/sonarr:develop docker digest to d80dede
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to f71ba41
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(deps): update linuxserver/bazarr:latest docker digest to 68efaf4
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/radarr docker tag to v5.11.0
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update linuxserver/overseerr docker digest to f63f746
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/wireguard:latest docker digest to c5128ec
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update grafana/grafana-oss docker tag to v11.2.1
  grafana/job/job.nomad.hcl
Due: grafana

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 9d9c91d
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/sonarr:develop docker digest to 49f68f3
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/tautulli:latest docker digest to ff87ded
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update ghcr.io/goauthentik/server docker tag to v2024.8.3
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/prowlarr docker tag to v1.24.3
  prowlarr/job/job.nomad.hcl
Due: prowlarr

chore(deps): update postgres docker tag to v17
  authentik/job/job.nomad.hcl
Due: authentik

Revert "chore(deps): update postgres docker tag to v17"
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/qbittorrent:latest docker digest to bd9bbfd
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/runatlantis/atlantis docker tag to v0.30.0
  atlantis/job/job.nomad.hcl
Due: none

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to ffcd02d
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update favonia/cloudflare-ddns:latest docker digest to d5649ae
  cloudflare-agent-cpl/job/job.nomad.hcl
  cloudflare-agent/job/job.nomad.hcl
Due: cloudflare-agent, cloudflare-agent-cpl

chore(deps): update grafana/grafana-oss docker tag to v11.2.2
  grafana/job/job.nomad.hcl
Due: grafana

chore(deps): update linuxserver/bazarr:latest docker digest to 137f55b
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/overseerr docker digest to 6426b3f
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/wireguard:latest docker digest to 366b3fb
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update vaultwarden/server docker tag to v1.32.1
  vaultwarden/job/job.nomad.hcl
Due: vaultwarden

chore(deps): update linuxserver/tautulli:latest docker digest to 3a8b561
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to b01af34
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/sonarr:develop docker digest to a3c1a21
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to 40394fd
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/bazarr:latest docker digest to d7d431c
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/overseerr docker digest to a6eb6e6
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/wireguard:latest docker digest to ba7c3d5
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 2c5fb90
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/tautulli:latest docker digest to 8e86ebd
  tautulli/job/job.nomad.hcl
Due: tautulli
