Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

placeholder:
  dir: placeholder
  workspace: default
  workflow: opentofu

authelia:
  dir: ./authelia/
  workspace: default
  workflow: opentofu

authentik:
  dir: ./authentik/
  workspace: default
  workflow: opentofu

bazarr:
  dir: ./bazarr/
  workspace: default
  workflow: opentofu

ceph-csi:
  dir: ./ceph-csi/
  workspace: default
  workflow: opentofu

cloudflare-agent:
  dir: ./cloudflare-agent/
  workspace: default
  workflow: opentofu

cloudflare-agent-cpl:
  dir: ./cloudflare-agent-cpl/
  workspace: default
  workflow: opentofu

crowdsec:
  dir: ./crowdsec/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

flaresolverr:
  dir: ./flaresolverr/
  workspace: default
  workflow: opentofu

gitea:
  dir: ./gitea/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

grafana:
  dir: ./grafana/
  workspace: default
  workflow: opentofu

hashistack-backup:
  dir: ./hashistack-backup/
  workspace: default
  workflow: opentofu

housekeeping-agent:
  dir: ./housekeeping-agent/
  workspace: default
  workflow: opentofu

lldap:
  dir: ./lldap/
  workspace: default
  workflow: opentofu

metrics:
  dir: ./metrics/
  workspace: default
  workflow: opentofu

nextcloud:
  dir: ./nextcloud/
  workspace: default
  workflow: opentofu

nfs-csi:
  dir: ./nfs-csi/
  workspace: default
  workflow: opentofu

overseerr:
  dir: ./overseerr/
  workspace: default
  workflow: opentofu

prowlarr:
  dir: ./prowlarr/
  workspace: default
  workflow: opentofu

qbittorrent:
  dir: ./qbittorrent/
  workspace: default
  workflow: opentofu

radarr:
  dir: ./radarr/
  workspace: default
  workflow: opentofu

resume:
  dir: ./resume/
  workspace: default
  workflow: opentofu

sonarr:
  dir: ./sonarr/
  workspace: default
  workflow: opentofu

tautulli:
  dir: ./tautulli/
  workspace: default
  workflow: opentofu

teamspeak:
  dir: ./teamspeak/
  workspace: default
  workflow: opentofu

traefik:
  dir: ./traefik/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

vaultwarden:
  dir: ./vaultwarden/
  workspace: default
  workflow: opentofu

chore(deps): update linuxserver/bazarr:latest docker digest to 88272d0
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/sonarr:develop docker digest to e47dd84
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/overseerr docker digest to 2719984
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/wireguard:latest docker digest to a3d953b
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update grafana/loki:latest docker digest to 58a6c18
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update docker:latest docker digest to fe74c13
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/tautulli:latest docker digest to 1358411
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update nextcloud docker tag to v30.0.6
  nextcloud/job/job.nomad.hcl
Due: nextcloud

chore(deps): update postgres docker tag to v17.3
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update docker:latest docker digest to aa3df78
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/qbittorrent:latest docker digest to 308d768
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update prom/prometheus docker tag to v3.2.0
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/bazarr:latest docker digest to f25f8d6
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/overseerr docker digest to 4aa0e08
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update grafana/grafana-oss docker tag to v11.5.2
  grafana/job/job.nomad.hcl
Due: grafana

chore(deps): update linuxserver/tautulli:latest docker digest to 1252256
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update docker:latest docker digest to 0a9c58e
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/sonarr:develop docker digest to 74b31a2
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/prowlarr docker tag to v1.31.2
  prowlarr/job/job.nomad.hcl
Due: prowlarr

chore(deps): update postgres docker tag to v17.4
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/wireguard:latest docker digest to 84c9fef
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/qbittorrent:latest docker digest to f8d7199
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/mariadb docker tag to v11.4.5
  gitea/job/job.nomad.hcl
  lldap/job/job.nomad.hcl
  nextcloud/job/job.nomad.hcl
  vaultwarden/job/job.nomad.hcl
Due: gitea, lldap, nextcloud, vaultwarden

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2025
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2025
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/radarr docker tag to v5.19.3
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update linuxserver/bazarr:latest docker digest to 6e901cc
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update nextcloud docker tag to v31
  nextcloud/job/job.nomad.hcl
Due: nextcloud

chore(deps): update prom/prometheus docker tag to v3.2.1
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2025.2.1
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2025.2.1
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/tautulli:latest docker digest to f0b8701
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/qbittorrent:latest docker digest to 81a7164
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

fix: increase config storage size for nextcloud
  nextcloud/README.md
  nextcloud/locals.tf
Due: nextcloud

chore(deps): update docker:latest docker digest to 9a651b2
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/bazarr:latest docker digest to 36f4ba6
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/tautulli:latest docker digest to 0fca01a
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 711c1ec
  lldap/job/job.nomad.hcl
Due: lldap

fix: renew qbittorrent vpn config
  qbittorrent/job/config/wireguard/wg0.conf
Due: qbittorrent

chore(deps): update linuxserver/sonarr:develop docker digest to cc95de3
  sonarr/job/job.nomad.hcl
Due: sonarr

Path conditions:
  placeholder: any of: placeholder/*
  authelia: any of: authelia/*
  authentik: any of: authentik/*
  bazarr: any of: bazarr/*
  ceph-csi: any of: ceph-csi/*
  cloudflare-agent: any of: cloudflare-agent/*
  cloudflare-agent-cpl: any of: cloudflare-agent-cpl/*
  crowdsec: any of: crowdsec/*
  flaresolverr: any of: flaresolverr/*
  gitea: any of: gitea/*
  grafana: any of: grafana/*
  hashistack-backup: any of: hashistack-backup/*
  housekeeping-agent: any of: housekeeping-agent/*
  lldap: any of: lldap/*
  metrics: any of: metrics/*
  nextcloud: any of: nextcloud/*
  nfs-csi: any of: nfs-csi/*
  overseerr: any of: overseerr/*
  prowlarr: any of: prowlarr/*
  qbittorrent: any of: qbittorrent/*
  radarr: any of: radarr/*
  resume: any of: resume/*
  sonarr: any of: sonarr/*
  tautulli: any of: tautulli/*
  teamspeak: any of: teamspeak/*
  traefik: any of: traefik/*
  vaultwarden: any of: vaultwarden/*
