Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

atlantis.yaml:

---
version: 3
automerge: true
delete_source_branch_on_merge: true
projects:
  - &template
    name: placeholder
    dir: placeholder
    workspace: default
    workflow: opentofu
    autoplan:
      enabled: true
      when_modified: ["*"]

  - <<: *template
    name: authelia
    dir: ./authelia/

  - <<: *template
    name: authentik
    dir: ./authentik/

  - <<: *template
    name: bazarr
    dir: ./bazarr/

  - <<: *template
    name: ceph-csi
    dir: ./ceph-csi/

  - <<: *template
    name: cloudflare-agent
    dir: ./cloudflare-agent/

  - <<: *template
    name: cloudflare-agent-cpl
    dir: ./cloudflare-agent-cpl/

  - <<: *template
    name: crowdsec
    dir: ./crowdsec/
    silence_pr_comments: [apply]

  - <<: *template
    name: flaresolverr
    dir: ./flaresolverr/

  - <<: *template
    name: gitea
    dir: ./gitea/
    silence_pr_comments: [apply]

  - <<: *template
    name: grafana
    dir: ./grafana/

  - <<: *template
    name: hashistack-backup
    dir: ./hashistack-backup/

  - <<: *template
    name: housekeeping-agent
    dir: ./housekeeping-agent/

  - <<: *template
    name: lldap
    dir: ./lldap/

  - <<: *template
    name: metrics
    dir: ./metrics/

  - <<: *template
    name: nextcloud
    dir: ./nextcloud/

  - <<: *template
    name: nfs-csi
    dir: ./nfs-csi/

  - <<: *template
    name: overseerr
    dir: ./overseerr/

  - <<: *template
    name: prowlarr
    dir: ./prowlarr/

  - <<: *template
    name: qbittorrent
    dir: ./qbittorrent/

  - <<: *template
    name: radarr
    dir: ./radarr/

  - <<: *template
    name: resume
    dir: ./resume/

  - <<: *template
    name: sonarr
    dir: ./sonarr/

  - <<: *template
    name: tautulli
    dir: ./tautulli/

  - <<: *template
    name: teamspeak
    dir: ./teamspeak/

  - <<: *template
    name: traefik
    dir: ./traefik/
    silence_pr_comments: [apply]

  - <<: *template
    name: vaultwarden
    dir: ./vaultwarden/

workflows:
  opentofu:
    plan:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu plan
    apply:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu apply -auto-approve

chore(deps): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.4.0
  flaresolverr/job/job.nomad.hcl
Due: flaresolverr

chore(deps): update linuxserver/mariadb docker tag to v11.4.8
  gitea/job/job.nomad.hcl
  lldap/job/job.nomad.hcl
  nextcloud/job/job.nomad.hcl
  vaultwarden/job/job.nomad.hcl
Due: gitea, lldap, nextcloud, vaultwarden

chore(deps): update linuxserver/qbittorrent:latest docker digest to ebfd008
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/bazarr:latest docker digest to f9cb78e
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/wireguard:latest docker digest to 208ee01
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/tautulli:latest docker digest to 63a8298
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/sonarr:develop docker digest to bee1fca
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 591a801
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/qbittorrent:latest docker digest to d464a92
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/radarr docker tag to v5.27.5
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update crowdsecurity/crowdsec docker tag to v1.7.0
  crowdsec/job/job.nomad.hcl
Due: crowdsec

chore(deps): update docker:latest docker digest to a56b3bd
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update grafana/loki:latest docker digest to 0b98463
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update docker:latest docker digest to 8316442
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/tautulli:latest docker digest to 865ae41
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/qbittorrent:latest docker digest to c6dd175
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/qbittorrent:latest docker digest to 4d65128
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/wireguard:latest docker digest to 58ba7f1
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update grafana/loki:latest docker digest to 3162851
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/bazarr:latest docker digest to fed1656
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update terraform vault to ~> 5.3.0
  atlantis/main.tf
  authelia/main.tf
  authentik/main.tf
  bazarr/main.tf
  ceph-csi/main.tf
  cloudflare-agent-cpl/main.tf
  cloudflare-agent/main.tf
  crowdsec/main.tf
  flaresolverr/main.tf
  gitea/main.tf
  grafana/main.tf
  hashistack-backup/main.tf
  housekeeping-agent/main.tf
  lldap/main.tf
  metrics/main.tf
  nextcloud/main.tf
  nfs-csi/main.tf
  overseerr/main.tf
  prowlarr/main.tf
  qbittorrent/main.tf
  radarr/main.tf
  resume/main.tf
  sonarr/main.tf
  tautulli/main.tf
  teamspeak/main.tf
  traefik/main.tf
  vaultwarden/main.tf
Due: authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

chore(deps): update linuxserver/qbittorrent:latest docker digest to ffa4e82
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 5638865
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/tautulli:latest docker digest to e59ad4e
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2025.8.3
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2025.8.3
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update nextcloud docker tag to v31.0.9
  nextcloud/job/job.nomad.hcl
Due: nextcloud

chore(deps): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.4.1
  flaresolverr/job/job.nomad.hcl
Due: flaresolverr

chore(deps): update ghcr.io/runatlantis/atlantis docker tag to v0.36.0
  atlantis/job/job.nomad.hcl
Due: none

chore(deps): update linuxserver/wireguard:latest docker digest to c9863e0
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/overseerr docker digest to bad1116
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to aa71419
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/bazarr:latest docker digest to e1f05f6
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/sonarr:develop docker digest to fa9e422
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/bazarr:latest docker digest to 59f4d72
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 2ec5174
  lldap/job/job.nomad.hcl
Due: lldap
