Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

placeholder:
  dir: placeholder
  workspace: default
  workflow: opentofu

authelia:
  dir: ./authelia/
  workspace: default
  workflow: opentofu

authentik:
  dir: ./authentik/
  workspace: default
  workflow: opentofu

bazarr:
  dir: ./bazarr/
  workspace: default
  workflow: opentofu

ceph-csi:
  dir: ./ceph-csi/
  workspace: default
  workflow: opentofu

cloudflare-agent:
  dir: ./cloudflare-agent/
  workspace: default
  workflow: opentofu

cloudflare-agent-cpl:
  dir: ./cloudflare-agent-cpl/
  workspace: default
  workflow: opentofu

crowdsec:
  dir: ./crowdsec/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

flaresolverr:
  dir: ./flaresolverr/
  workspace: default
  workflow: opentofu

gitea:
  dir: ./gitea/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

grafana:
  dir: ./grafana/
  workspace: default
  workflow: opentofu

hashistack-backup:
  dir: ./hashistack-backup/
  workspace: default
  workflow: opentofu

housekeeping-agent:
  dir: ./housekeeping-agent/
  workspace: default
  workflow: opentofu

lldap:
  dir: ./lldap/
  workspace: default
  workflow: opentofu

metrics:
  dir: ./metrics/
  workspace: default
  workflow: opentofu

nextcloud:
  dir: ./nextcloud/
  workspace: default
  workflow: opentofu

nfs-csi:
  dir: ./nfs-csi/
  workspace: default
  workflow: opentofu

overseerr:
  dir: ./overseerr/
  workspace: default
  workflow: opentofu

prowlarr:
  dir: ./prowlarr/
  workspace: default
  workflow: opentofu

qbittorrent:
  dir: ./qbittorrent/
  workspace: default
  workflow: opentofu

radarr:
  dir: ./radarr/
  workspace: default
  workflow: opentofu

resume:
  dir: ./resume/
  workspace: default
  workflow: opentofu

sonarr:
  dir: ./sonarr/
  workspace: default
  workflow: opentofu

tautulli:
  dir: ./tautulli/
  workspace: default
  workflow: opentofu

teamspeak:
  dir: ./teamspeak/
  workspace: default
  workflow: opentofu

traefik:
  dir: ./traefik/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

vaultwarden:
  dir: ./vaultwarden/
  workspace: default
  workflow: opentofu

chore(deps): update docker:latest docker digest to c9699f4
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/bazarr:latest docker digest to 2be164c
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/wireguard:latest docker digest to fc51204
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/overseerr docker digest to feddc11
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.4.6
  flaresolverr/job/job.nomad.hcl
Due: flaresolverr

chore(deps): update linuxserver/sonarr:develop docker digest to 3efb2bc
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/tautulli:latest docker digest to 4d764be
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/qbittorrent:latest docker digest to a2eedc9
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/bazarr:latest docker digest to ec11e98
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 091a416
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update prom/prometheus docker tag to v3.8.0
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update docker:latest docker digest to 9b20eb2
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update terraform vault to ~> 5.6.0
  atlantis/main.tf
  authelia/main.tf
  authentik/main.tf
  bazarr/main.tf
  ceph-csi/main.tf
  cloudflare-agent-cpl/main.tf
  cloudflare-agent/main.tf
  crowdsec/main.tf
  flaresolverr/main.tf
  gitea/main.tf
  grafana/main.tf
  hashistack-backup/main.tf
  housekeeping-agent/main.tf
  lldap/main.tf
  metrics/main.tf
  nextcloud/main.tf
  nfs-csi/main.tf
  overseerr/main.tf
  prowlarr/main.tf
  qbittorrent/main.tf
  radarr/main.tf
  resume/main.tf
  sonarr/main.tf
  tautulli/main.tf
  teamspeak/main.tf
  traefik/main.tf
  vaultwarden/main.tf
Due: authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

chore(deps): update linuxserver/wireguard:latest docker digest to 14d1da0
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update docker:latest docker digest to 40916fb
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/qbittorrent:latest docker digest to f0465db
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update alpine docker tag to v3.23
  atlantis/job/job.nomad.hcl
Due: none

chore(deps): update linuxserver/qbittorrent:latest docker digest to 043498d
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update crowdsecurity/crowdsec docker tag to v1.7.4
  crowdsec/job/job.nomad.hcl
Due: crowdsec

chore(deps): update docker:latest docker digest to 7370a6c
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 72f526a
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update nextcloud docker tag to v32.0.3
  nextcloud/job/job.nomad.hcl
Due: nextcloud

chore(deps): update grafana/loki:latest docker digest to cd6e176
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update ich777/teamspeak:latest docker digest to 52e9d08
  teamspeak/job/job.nomad.hcl
Due: teamspeak

chore(deps): update linuxserver/wireguard:latest docker digest to 8616232
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/runatlantis/atlantis docker tag to v0.38.0
  atlantis/job/job.nomad.hcl
Due: none

chore(deps): update linuxserver/bazarr:latest docker digest to 4aa1e82
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2025.10.3
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2025.10.3
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update prom/prometheus docker tag to v3.8.1
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/tautulli:latest docker digest to cb2226d
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/wireguard:latest docker digest to d3e46bc
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update docker:latest docker digest to 173f284
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/bazarr:latest docker digest to 648f694
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/overseerr docker digest to f6a782e
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update grafana/grafana-oss docker tag to v12.3.1
  grafana/job/job.nomad.hcl
Due: grafana

chore(deps): update linuxserver/sonarr:develop docker digest to e8da3f4
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to a68c4cf
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 39190e6
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/bazarr:latest docker digest to 001875e
  bazarr/job/job.nomad.hcl
Due: bazarr

Path conditions:
  placeholder: any of: placeholder/*
  authelia: any of: authelia/*
  authentik: any of: authentik/*
  bazarr: any of: bazarr/*
  ceph-csi: any of: ceph-csi/*
  cloudflare-agent: any of: cloudflare-agent/*
  cloudflare-agent-cpl: any of: cloudflare-agent-cpl/*
  crowdsec: any of: crowdsec/*
  flaresolverr: any of: flaresolverr/*
  gitea: any of: gitea/*
  grafana: any of: grafana/*
  hashistack-backup: any of: hashistack-backup/*
  housekeeping-agent: any of: housekeeping-agent/*
  lldap: any of: lldap/*
  metrics: any of: metrics/*
  nextcloud: any of: nextcloud/*
  nfs-csi: any of: nfs-csi/*
  overseerr: any of: overseerr/*
  prowlarr: any of: prowlarr/*
  qbittorrent: any of: qbittorrent/*
  radarr: any of: radarr/*
  resume: any of: resume/*
  sonarr: any of: sonarr/*
  tautulli: any of: tautulli/*
  teamspeak: any of: teamspeak/*
  traefik: any of: traefik/*
  vaultwarden: any of: vaultwarden/*
