Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

placeholder:
  dir: placeholder
  workspace: default
  workflow: opentofu

authelia:
  dir: ./authelia/
  workspace: default
  workflow: opentofu

authentik:
  dir: ./authentik/
  workspace: default
  workflow: opentofu

bazarr:
  dir: ./bazarr/
  workspace: default
  workflow: opentofu

ceph-csi:
  dir: ./ceph-csi/
  workspace: default
  workflow: opentofu

cloudflare-agent:
  dir: ./cloudflare-agent/
  workspace: default
  workflow: opentofu

cloudflare-agent-cpl:
  dir: ./cloudflare-agent-cpl/
  workspace: default
  workflow: opentofu

crowdsec:
  dir: ./crowdsec/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

flaresolverr:
  dir: ./flaresolverr/
  workspace: default
  workflow: opentofu

gitea:
  dir: ./gitea/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

grafana:
  dir: ./grafana/
  workspace: default
  workflow: opentofu

hashistack-backup:
  dir: ./hashistack-backup/
  workspace: default
  workflow: opentofu

housekeeping-agent:
  dir: ./housekeeping-agent/
  workspace: default
  workflow: opentofu

lldap:
  dir: ./lldap/
  workspace: default
  workflow: opentofu

metrics:
  dir: ./metrics/
  workspace: default
  workflow: opentofu

nextcloud:
  dir: ./nextcloud/
  workspace: default
  workflow: opentofu

nfs-csi:
  dir: ./nfs-csi/
  workspace: default
  workflow: opentofu

overseerr:
  dir: ./overseerr/
  workspace: default
  workflow: opentofu

prowlarr:
  dir: ./prowlarr/
  workspace: default
  workflow: opentofu

qbittorrent:
  dir: ./qbittorrent/
  workspace: default
  workflow: opentofu

radarr:
  dir: ./radarr/
  workspace: default
  workflow: opentofu

resume:
  dir: ./resume/
  workspace: default
  workflow: opentofu

sonarr:
  dir: ./sonarr/
  workspace: default
  workflow: opentofu

tautulli:
  dir: ./tautulli/
  workspace: default
  workflow: opentofu

teamspeak:
  dir: ./teamspeak/
  workspace: default
  workflow: opentofu

traefik:
  dir: ./traefik/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

vaultwarden:
  dir: ./vaultwarden/
  workspace: default
  workflow: opentofu

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2025.2.4
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2025.2.4
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/bazarr:latest docker digest to d6c430b
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update docker:latest docker digest to ddb0033
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/wireguard:latest docker digest to b5010a1
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/tautulli:latest docker digest to 3ddfce7
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/prowlarr docker tag to v1.33.3
  prowlarr/job/job.nomad.hcl
Due: prowlarr

chore(deps): update linuxserver/tautulli:latest docker digest to b8eb3f6
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/sonarr:develop docker digest to 10df0f4
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to 90a82ca
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update docker:latest docker digest to 4de6a56
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update prom/prometheus docker tag to v3.3.0
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update terraform nomad to ~> 2.5.0
  atlantis/main.tf
  authelia/main.tf
  authentik/main.tf
  bazarr/main.tf
  ceph-csi/main.tf
  cloudflare-agent-cpl/main.tf
  cloudflare-agent/main.tf
  crowdsec/main.tf
  flaresolverr/main.tf
  gitea/main.tf
  grafana/main.tf
  hashistack-backup/main.tf
  housekeeping-agent/main.tf
  lldap/main.tf
  metrics/main.tf
  nextcloud/main.tf
  nfs-csi/main.tf
  overseerr/main.tf
  prowlarr/main.tf
  qbittorrent/main.tf
  radarr/main.tf
  resume/main.tf
  sonarr/main.tf
  tautulli/main.tf
  teamspeak/main.tf
  traefik/main.tf
  vaultwarden/main.tf
Due: authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

chore(deps): update linuxserver/bazarr:latest docker digest to b98bdca
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/overseerr docker digest to 1c141ae
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update docker:latest docker digest to dbd0882
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update docker:latest docker digest to f49e1c7
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/tautulli:latest docker digest to 3fd7e7b
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/sonarr:develop docker digest to fcba4cd
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to 46f4e80
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/prowlarr docker tag to v1.34.1
  prowlarr/job/job.nomad.hcl
Due: prowlarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to fa9b6ac
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/radarr docker tag to v5.22.4
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update grafana/loki:latest docker digest to 4c431d2
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/bazarr:latest docker digest to 2219fa5
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to a3a8520
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/tautulli:latest docker digest to b30bb4d
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update grafana/grafana-oss docker tag to v11.6.1
  grafana/job/job.nomad.hcl
Due: grafana

chore(deps): update nextcloud docker tag to v31.0.4
  nextcloud/job/job.nomad.hcl
Due: nextcloud

chore(deps): update linuxserver/prowlarr docker tag to v1.35.1
  prowlarr/job/job.nomad.hcl
Due: prowlarr

chore(deps): update linuxserver/sonarr:develop docker digest to 579c3b1
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/bazarr:latest docker digest to f17f033
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2025.4.0
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2025.4.0
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update prom/prometheus docker tag to v3.3.1
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/tautulli:latest docker digest to f289fe8
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/qbittorrent:latest docker digest to e3fa84b
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update grafana/grafana-oss docker tag to v12
  grafana/job/job.nomad.hcl
Due: grafana

chore(deps): update linuxserver/qbittorrent:latest docker digest to dc76140
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

Path conditions:
  placeholder: any of: placeholder/*
  authelia: any of: authelia/*
  authentik: any of: authentik/*
  bazarr: any of: bazarr/*
  ceph-csi: any of: ceph-csi/*
  cloudflare-agent: any of: cloudflare-agent/*
  cloudflare-agent-cpl: any of: cloudflare-agent-cpl/*
  crowdsec: any of: crowdsec/*
  flaresolverr: any of: flaresolverr/*
  gitea: any of: gitea/*
  grafana: any of: grafana/*
  hashistack-backup: any of: hashistack-backup/*
  housekeeping-agent: any of: housekeeping-agent/*
  lldap: any of: lldap/*
  metrics: any of: metrics/*
  nextcloud: any of: nextcloud/*
  nfs-csi: any of: nfs-csi/*
  overseerr: any of: overseerr/*
  prowlarr: any of: prowlarr/*
  qbittorrent: any of: qbittorrent/*
  radarr: any of: radarr/*
  resume: any of: resume/*
  sonarr: any of: sonarr/*
  tautulli: any of: tautulli/*
  teamspeak: any of: teamspeak/*
  traefik: any of: traefik/*
  vaultwarden: any of: vaultwarden/*
