Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

atlantis.yaml:

---
version: 3
automerge: true
delete_source_branch_on_merge: true
projects:
  - &template
    name: placeholder
    dir: placeholder
    workspace: default
    workflow: opentofu
    autoplan:
      enabled: true
      when_modified: ["*"]

  - <<: *template
    name: authelia
    dir: ./authelia/

  - <<: *template
    name: authentik
    dir: ./authentik/

  - <<: *template
    name: bazarr
    dir: ./bazarr/

  - <<: *template
    name: ceph-csi
    dir: ./ceph-csi/

  - <<: *template
    name: cloudflare-agent
    dir: ./cloudflare-agent/

  - <<: *template
    name: cloudflare-agent-cpl
    dir: ./cloudflare-agent-cpl/

  - <<: *template
    name: crowdsec
    dir: ./crowdsec/
    silence_pr_comments: [apply]

  - <<: *template
    name: flaresolverr
    dir: ./flaresolverr/

  - <<: *template
    name: gitea
    dir: ./gitea/
    silence_pr_comments: [apply]

  - <<: *template
    name: grafana
    dir: ./grafana/

  - <<: *template
    name: hashistack-backup
    dir: ./hashistack-backup/

  - <<: *template
    name: housekeeping-agent
    dir: ./housekeeping-agent/

  - <<: *template
    name: lldap
    dir: ./lldap/

  - <<: *template
    name: metrics
    dir: ./metrics/

  - <<: *template
    name: nextcloud
    dir: ./nextcloud/

  - <<: *template
    name: nfs-csi
    dir: ./nfs-csi/

  - <<: *template
    name: overseerr
    dir: ./overseerr/

  - <<: *template
    name: prowlarr
    dir: ./prowlarr/

  - <<: *template
    name: qbittorrent
    dir: ./qbittorrent/

  - <<: *template
    name: radarr
    dir: ./radarr/

  - <<: *template
    name: resume
    dir: ./resume/

  - <<: *template
    name: sonarr
    dir: ./sonarr/

  - <<: *template
    name: tautulli
    dir: ./tautulli/

  - <<: *template
    name: teamspeak
    dir: ./teamspeak/

  - <<: *template
    name: traefik
    dir: ./traefik/
    silence_pr_comments: [apply]

  - <<: *template
    name: vaultwarden
    dir: ./vaultwarden/

workflows:
  opentofu:
    plan:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu plan
    apply:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu apply -auto-approve

chore(deps): update linuxserver/bazarr:latest docker digest to 4e6e74d
  bazarr/job/job.nomad.hcl
Due: bazarr

fix: rollback authentik outpost to 2024.10.5 until websocket issue is fixed
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 1e7ecd0
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/overseerr docker digest to ba4e6e0
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/bazarr:latest docker digest to c99ddc0
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/sonarr:develop docker digest to 52f74ab
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/sonarr:develop docker digest to 0f894c0
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/bazarr:latest docker digest to ac9fe56
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/overseerr docker digest to 9a4ccc2
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/qbittorrent:latest docker digest to 3ba628a
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update prom/prometheus docker tag to v3.1.0
  metrics/job/job.nomad.hcl
Due: metrics

feat: add stricter version control for nextcloud
  nextcloud/job/job.nomad.hcl
Due: nextcloud

chore(deps): update linuxserver/wireguard:latest docker digest to eec8a8e
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/tautulli:latest docker digest to 459d9b8
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/sonarr:develop docker digest to ca8f628
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to ac0b463
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/radarr docker tag to v5.17.2
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update linuxserver/prowlarr docker tag to v1.29.2
  prowlarr/job/job.nomad.hcl
Due: prowlarr

chore(deps): update linuxserver/bazarr:latest docker digest to 972715e
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/overseerr docker digest to 401a062
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update gitea/gitea docker tag to v1.23
  gitea/job/job.nomad.hcl
Due: gitea

chore(deps): update docker:latest docker digest to 2f79719
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2024.12.2
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update linuxserver/wireguard:latest docker digest to dd744af
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/mariadb docker tag to v11
  gitea/job/job.nomad.hcl
  lldap/job/job.nomad.hcl
  nextcloud/job/job.nomad.hcl
  vaultwarden/job/job.nomad.hcl
Due: gitea, lldap, nextcloud, vaultwarden

chore(deps): update linuxserver/overseerr docker digest to 6baa11c
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/tautulli:latest docker digest to b262df9
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update docker:latest docker digest to 3c8fb35
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update ghcr.io/goauthentik/server docker tag to v2024.12.2
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/sonarr:develop docker digest to ed04e50
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/tautulli:latest docker digest to 497c4c2
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/qbittorrent:latest docker digest to 8e541cf
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update docker:latest docker digest to cbde039
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/bazarr:latest docker digest to 634d9a6
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/overseerr docker digest to 63761c2
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/wireguard:latest docker digest to 5794900
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/tautulli:latest docker digest to 73f9712
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update docker:latest docker digest to 45b80ef
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update nextcloud docker tag to v30.0.5
  nextcloud/job/job.nomad.hcl
Due: nextcloud

chore(deps): update linuxserver/sonarr:develop docker digest to e879792
  sonarr/job/job.nomad.hcl
Due: sonarr
