Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

atlantis.yaml:

---
version: 3
automerge: true
delete_source_branch_on_merge: true
projects:
  - &template
    name: placeholder
    dir: placeholder
    workspace: default
    workflow: opentofu
    autoplan:
      enabled: true
      when_modified: ["*"]

  - <<: *template
    name: authelia
    dir: ./authelia/

  - <<: *template
    name: authentik
    dir: ./authentik/

  - <<: *template
    name: bazarr
    dir: ./bazarr/

  - <<: *template
    name: ceph-csi
    dir: ./ceph-csi/

  - <<: *template
    name: cloudflare-agent
    dir: ./cloudflare-agent/

  - <<: *template
    name: cloudflare-agent-cpl
    dir: ./cloudflare-agent-cpl/

  - <<: *template
    name: crowdsec
    dir: ./crowdsec/
    silence_pr_comments: [apply]

  - <<: *template
    name: flaresolverr
    dir: ./flaresolverr/

  - <<: *template
    name: gitea
    dir: ./gitea/
    silence_pr_comments: [apply]

  - <<: *template
    name: grafana
    dir: ./grafana/

  - <<: *template
    name: hashistack-backup
    dir: ./hashistack-backup/

  - <<: *template
    name: housekeeping-agent
    dir: ./housekeeping-agent/

  - <<: *template
    name: lldap
    dir: ./lldap/

  - <<: *template
    name: metrics
    dir: ./metrics/

  - <<: *template
    name: nextcloud
    dir: ./nextcloud/

  - <<: *template
    name: nfs-csi
    dir: ./nfs-csi/

  - <<: *template
    name: overseerr
    dir: ./overseerr/

  - <<: *template
    name: prowlarr
    dir: ./prowlarr/

  - <<: *template
    name: qbittorrent
    dir: ./qbittorrent/

  - <<: *template
    name: radarr
    dir: ./radarr/

  - <<: *template
    name: resume
    dir: ./resume/

  - <<: *template
    name: sonarr
    dir: ./sonarr/

  - <<: *template
    name: tautulli
    dir: ./tautulli/

  - <<: *template
    name: teamspeak
    dir: ./teamspeak/

  - <<: *template
    name: traefik
    dir: ./traefik/
    silence_pr_comments: [apply]

  - <<: *template
    name: vaultwarden
    dir: ./vaultwarden/

workflows:
  opentofu:
    plan:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu plan
    apply:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu apply -auto-approve

chore(deps): update linuxserver/bazarr:latest docker digest to be98501
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update docker:latest docker digest to 6ca9a68
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/overseerr docker digest to 6eb9f12
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/wireguard:latest docker digest to 8446327
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update grafana/grafana-oss docker tag to v11.4.0
  grafana/job/job.nomad.hcl
Due: grafana

chore(deps): update linuxserver/tautulli:latest docker digest to 5fea798
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update alpine docker tag to v3.21
  atlantis/job/job.nomad.hcl
Due: none

chore(deps): update linuxserver/sonarr:develop docker digest to 8583941
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update docker:latest docker digest to 716681c
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2024.10.5
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2024.10.5
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/bazarr:latest docker digest to 954b303
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update vaultwarden/server docker tag to v1.32.6
  vaultwarden/job/job.nomad.hcl
Due: vaultwarden

chore(deps): update linuxserver/overseerr docker digest to 78826a7
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/wireguard:latest docker digest to 66c2f4f
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/tautulli:latest docker digest to 9355729
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update docker:latest docker digest to b0c1179
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/sonarr:develop docker digest to 530e80a
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update favonia/cloudflare-ddns:latest docker digest to a4e2089
  cloudflare-agent-cpl/job/job.nomad.hcl
  cloudflare-agent/job/job.nomad.hcl
Due: cloudflare-agent, cloudflare-agent-cpl

chore(deps): update linuxserver/prowlarr docker tag to v1.28.2
  prowlarr/job/job.nomad.hcl
Due: prowlarr

chore(deps): update linuxserver/sonarr:develop docker digest to 63d5d5d
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/bazarr:latest docker digest to a602332
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/overseerr docker digest to 7792447
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update docker:latest docker digest to d33ffba
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update ich777/teamspeak:latest docker digest to 261520b
  teamspeak/job/job.nomad.hcl
Due: teamspeak

chore(deps): update linuxserver/radarr docker tag to v5.16.3
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to 74e1681
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2024.12.0
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2024.12.0
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/tautulli:latest docker digest to 4223278
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/sonarr:develop docker digest to 44ab820
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update vaultwarden/server docker tag to v1.32.7
  vaultwarden/job/job.nomad.hcl
Due: vaultwarden

chore(deps): update linuxserver/sonarr:develop docker digest to 323e5ff
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/wireguard:latest docker digest to 5a0a72a
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/runatlantis/atlantis docker tag to v0.32.0
  atlantis/job/job.nomad.hcl
Due: none

Revert "chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2024.12.0"
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update linuxserver/qbittorrent:latest docker digest to a51e8e9
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/sonarr:develop docker digest to 797f600
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2024.12.1
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2024.12.1
  authentik/job/job.nomad.hcl
Due: authentik
