Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

placeholder:
  dir: placeholder
  workspace: default
  workflow: opentofu

authelia:
  dir: ./authelia/
  workspace: default
  workflow: opentofu

authentik:
  dir: ./authentik/
  workspace: default
  workflow: opentofu

bazarr:
  dir: ./bazarr/
  workspace: default
  workflow: opentofu

ceph-csi:
  dir: ./ceph-csi/
  workspace: default
  workflow: opentofu

cloudflare-agent:
  dir: ./cloudflare-agent/
  workspace: default
  workflow: opentofu

cloudflare-agent-cpl:
  dir: ./cloudflare-agent-cpl/
  workspace: default
  workflow: opentofu

crowdsec:
  dir: ./crowdsec/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

flaresolverr:
  dir: ./flaresolverr/
  workspace: default
  workflow: opentofu

gitea:
  dir: ./gitea/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

grafana:
  dir: ./grafana/
  workspace: default
  workflow: opentofu

hashistack-backup:
  dir: ./hashistack-backup/
  workspace: default
  workflow: opentofu

housekeeping-agent:
  dir: ./housekeeping-agent/
  workspace: default
  workflow: opentofu

lldap:
  dir: ./lldap/
  workspace: default
  workflow: opentofu

metrics:
  dir: ./metrics/
  workspace: default
  workflow: opentofu

nextcloud:
  dir: ./nextcloud/
  workspace: default
  workflow: opentofu

nfs-csi:
  dir: ./nfs-csi/
  workspace: default
  workflow: opentofu

overseerr:
  dir: ./overseerr/
  workspace: default
  workflow: opentofu

prowlarr:
  dir: ./prowlarr/
  workspace: default
  workflow: opentofu

qbittorrent:
  dir: ./qbittorrent/
  workspace: default
  workflow: opentofu

radarr:
  dir: ./radarr/
  workspace: default
  workflow: opentofu

resume:
  dir: ./resume/
  workspace: default
  workflow: opentofu

sonarr:
  dir: ./sonarr/
  workspace: default
  workflow: opentofu

tautulli:
  dir: ./tautulli/
  workspace: default
  workflow: opentofu

teamspeak:
  dir: ./teamspeak/
  workspace: default
  workflow: opentofu

traefik:
  dir: ./traefik/
  workspace: default
  workflow: opentofu
  silence_pr_comments:
  - apply

vaultwarden:
  dir: ./vaultwarden/
  workspace: default
  workflow: opentofu

chore(deps): update linuxserver/sonarr:develop docker digest to c7ebbdb
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update vaultwarden/server docker tag to v1.35.0
  vaultwarden/job/job.nomad.hcl
Due: vaultwarden

chore(deps): update linuxserver/qbittorrent:latest docker digest to 1497b6e
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/runatlantis/atlantis docker tag to v0.39.0
  atlantis/job/job.nomad.hcl
Due: none

chore(deps): update vaultwarden/server docker tag to v1.35.1
  vaultwarden/job/job.nomad.hcl
Due: vaultwarden

chore(deps): update linuxserver/qbittorrent:latest docker digest to c4e1276
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update prom/prometheus docker tag to v3.9.1
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/qbittorrent:latest docker digest to e0cedca
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 898f91b
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/wireguard:latest docker digest to 5f99e7b
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/bazarr:latest docker digest to 3785c9b
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/tautulli:latest docker digest to 876aae4
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/tautulli:latest docker digest to 98bd286
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update vaultwarden/server docker tag to v1.35.2
  vaultwarden/job/job.nomad.hcl
Due: vaultwarden

chore(deps): update docker:latest docker digest to d954272
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/qbittorrent:latest docker digest to 9511403
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/bazarr:latest docker digest to 7d0a091
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2025.12.0
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2025.12.0
  authentik/job/job.nomad.hcl
Due: authentik

Path conditions:
  placeholder: any of: placeholder/*
  authelia: any of: authelia/*
  authentik: any of: authentik/*
  bazarr: any of: bazarr/*
  ceph-csi: any of: ceph-csi/*
  cloudflare-agent: any of: cloudflare-agent/*
  cloudflare-agent-cpl: any of: cloudflare-agent-cpl/*
  crowdsec: any of: crowdsec/*
  flaresolverr: any of: flaresolverr/*
  gitea: any of: gitea/*
  grafana: any of: grafana/*
  hashistack-backup: any of: hashistack-backup/*
  housekeeping-agent: any of: housekeeping-agent/*
  lldap: any of: lldap/*
  metrics: any of: metrics/*
  nextcloud: any of: nextcloud/*
  nfs-csi: any of: nfs-csi/*
  overseerr: any of: overseerr/*
  prowlarr: any of: prowlarr/*
  qbittorrent: any of: qbittorrent/*
  radarr: any of: radarr/*
  resume: any of: resume/*
  sonarr: any of: sonarr/*
  tautulli: any of: tautulli/*
  teamspeak: any of: teamspeak/*
  traefik: any of: traefik/*
  vaultwarden: any of: vaultwarden/*
