Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

atlantis.yaml:

---
version: 3
automerge: true
delete_source_branch_on_merge: true
projects:
  - &template
    name: placeholder
    dir: placeholder
    workspace: default
    workflow: opentofu
    autoplan:
      enabled: true
      when_modified: ["*"]

  - <<: *template
    name: authelia
    dir: ./authelia/

  - <<: *template
    name: authentik
    dir: ./authentik/

  - <<: *template
    name: bazarr
    dir: ./bazarr/

  - <<: *template
    name: ceph-csi
    dir: ./ceph-csi/

  - <<: *template
    name: cloudflare-agent
    dir: ./cloudflare-agent/

  - <<: *template
    name: cloudflare-agent-cpl
    dir: ./cloudflare-agent-cpl/

  - <<: *template
    name: crowdsec
    dir: ./crowdsec/
    silence_pr_comments: [apply]

  - <<: *template
    name: flaresolverr
    dir: ./flaresolverr/

  - <<: *template
    name: gitea
    dir: ./gitea/
    silence_pr_comments: [apply]

  - <<: *template
    name: grafana
    dir: ./grafana/

  - <<: *template
    name: hashistack-backup
    dir: ./hashistack-backup/

  - <<: *template
    name: housekeeping-agent
    dir: ./housekeeping-agent/

  - <<: *template
    name: lldap
    dir: ./lldap/

  - <<: *template
    name: metrics
    dir: ./metrics/

  - <<: *template
    name: nextcloud
    dir: ./nextcloud/

  - <<: *template
    name: nfs-csi
    dir: ./nfs-csi/

  - <<: *template
    name: overseerr
    dir: ./overseerr/

  - <<: *template
    name: prowlarr
    dir: ./prowlarr/

  - <<: *template
    name: qbittorrent
    dir: ./qbittorrent/

  - <<: *template
    name: radarr
    dir: ./radarr/

  - <<: *template
    name: resume
    dir: ./resume/

  - <<: *template
    name: sonarr
    dir: ./sonarr/

  - <<: *template
    name: tautulli
    dir: ./tautulli/

  - <<: *template
    name: teamspeak
    dir: ./teamspeak/

  - <<: *template
    name: traefik
    dir: ./traefik/
    silence_pr_comments: [apply]

  - <<: *template
    name: vaultwarden
    dir: ./vaultwarden/

workflows:
  opentofu:
    plan:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu plan
    apply:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu apply -auto-approve

chore(deps): update terraform vault to ~> 4.4.0
  atlantis/main.tf
  authelia/main.tf
  authentik/main.tf
  bazarr/main.tf
  ceph-csi/main.tf
  cloudflare-agent-cpl/main.tf
  cloudflare-agent/main.tf
  crowdsec/main.tf
  flaresolverr/main.tf
  gitea/main.tf
  grafana/main.tf
  hashistack-backup/main.tf
  housekeeping-agent/main.tf
  lldap/main.tf
  metrics/main.tf
  nextcloud/main.tf
  nfs-csi/main.tf
  overseerr/main.tf
  prowlarr/main.tf
  qbittorrent/main.tf
  radarr/main.tf
  resume/main.tf
  sonarr/main.tf
  tautulli/main.tf
  teamspeak/main.tf
  traefik/main.tf
  vaultwarden/main.tf
Due: authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

chore(deps): update linuxserver/wireguard:latest docker digest to f7feb3d
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 5a2e9ee
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update postgres docker tag to v16.4
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/tautulli:latest docker digest to 8ae569b
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update prom/prometheus docker tag to v2.54.0
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update grafana/loki:latest docker digest to 35b02ac
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/sonarr:develop docker digest to 62eba11
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/tautulli:latest docker digest to e5944d5
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/qbittorrent:latest docker digest to c98f8ef
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/sonarr:develop docker digest to 8bba5e6
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update vaultwarden/server docker tag to v1.32.0
  vaultwarden/job/job.nomad.hcl
Due: vaultwarden

feat: do not track versions for promtail and borgmatic sidecars to avoid mass restarts
  atlantis/job/job.nomad.hcl
  authentik/job/job.nomad.hcl
  bazarr/job/job.nomad.hcl
  cloudflare-agent-cpl/job/job.nomad.hcl
  cloudflare-agent/job/job.nomad.hcl
  crowdsec/job/job.nomad.hcl
  flaresolverr/job/job.nomad.hcl
  gitea/job/job.nomad.hcl
  grafana/job/job.nomad.hcl
  hashistack-backup/job/job.nomad.hcl
  lldap/job/job.nomad.hcl
  nextcloud/job/job.nomad.hcl
  overseerr/job/job.nomad.hcl
  prowlarr/job/job.nomad.hcl
  qbittorrent/job/job.nomad.hcl
  radarr/job/job.nomad.hcl
  teamspeak/job/job.nomad.hcl
  traefik/job/job.nomad.hcl
  vaultwarden/job/job.nomad.hcl
Due: authentik, bazarr, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, lldap, nextcloud, overseerr, prowlarr, qbittorrent, radarr, teamspeak, traefik, vaultwarden

chore(deps): update dependency prettytable to v3.11.0
  .gitea/scripts/requirements.txt
Due: none

chore(deps): update linuxserver/wireguard:latest docker digest to 39dd71c
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/bazarr:latest docker digest to 0ac10a3
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update docker:latest docker digest to 2f1bfc4
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update grafana/grafana-oss docker tag to v11.1.4
  grafana/job/job.nomad.hcl
Due: grafana

chore(deps): update linuxserver/sonarr:develop docker digest to 11c4187
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/tautulli:latest docker digest to 6999244
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 6d54290
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update docker:latest docker digest to 2e55155
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 4443b88
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/sonarr:develop docker digest to ac63ee4
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to 1e0c0ff
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/radarr docker tag to v5.9.1
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update linuxserver/bazarr:latest docker digest to 8573a7d
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/sonarr:develop docker digest to 1e3c357
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 7d00430
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/overseerr docker digest to 24c902e
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/wireguard:latest docker digest to be852b6
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/goauthentik/server docker tag to v2024.6.4
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/tautulli:latest docker digest to 8bf29f0
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/qbittorrent:latest docker digest to e53ee17
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update favonia/cloudflare-ddns:latest docker digest to ac14692
  cloudflare-agent-cpl/job/job.nomad.hcl
  cloudflare-agent/job/job.nomad.hcl
Due: cloudflare-agent, cloudflare-agent-cpl

chore(deps): update linuxserver/sonarr:develop docker digest to 70450fa
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to d73f86f
  lldap/job/job.nomad.hcl
Due: lldap

feat: use merge checkout type for atlantis to avoid undoing changes when multiple changes are done on the same job
  atlantis/.terraform.lock.hcl
  atlantis/job/config/atlantis/atlantis.env
Due: none

chore(deps): update linuxserver/sonarr:develop docker digest to 0f96f85
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update prom/prometheus docker tag to v2.54.1
  metrics/job/job.nomad.hcl
Due: metrics
