Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

atlantis.yaml:

---
version: 3
automerge: true
delete_source_branch_on_merge: true
projects:
  - &template
    name: placeholder
    dir: placeholder
    workspace: default
    workflow: opentofu
    autoplan:
      enabled: true
      when_modified: ["*"]

  - <<: *template
    name: authelia
    dir: ./authelia/

  - <<: *template
    name: authentik
    dir: ./authentik/

  - <<: *template
    name: bazarr
    dir: ./bazarr/

  - <<: *template
    name: ceph-csi
    dir: ./ceph-csi/

  - <<: *template
    name: cloudflare-agent
    dir: ./cloudflare-agent/

  - <<: *template
    name: cloudflare-agent-cpl
    dir: ./cloudflare-agent-cpl/

  - <<: *template
    name: crowdsec
    dir: ./crowdsec/
    silence_pr_comments: [apply]

  - <<: *template
    name: flaresolverr
    dir: ./flaresolverr/

  - <<: *template
    name: gitea
    dir: ./gitea/
    silence_pr_comments: [apply]

  - <<: *template
    name: grafana
    dir: ./grafana/

  - <<: *template
    name: hashistack-backup
    dir: ./hashistack-backup/

  - <<: *template
    name: housekeeping-agent
    dir: ./housekeeping-agent/

  - <<: *template
    name: lldap
    dir: ./lldap/

  - <<: *template
    name: metrics
    dir: ./metrics/

  - <<: *template
    name: nextcloud
    dir: ./nextcloud/

  - <<: *template
    name: nfs-csi
    dir: ./nfs-csi/

  - <<: *template
    name: overseerr
    dir: ./overseerr/

  - <<: *template
    name: prowlarr
    dir: ./prowlarr/

  - <<: *template
    name: qbittorrent
    dir: ./qbittorrent/

  - <<: *template
    name: radarr
    dir: ./radarr/

  - <<: *template
    name: resume
    dir: ./resume/

  - <<: *template
    name: sonarr
    dir: ./sonarr/

  - <<: *template
    name: tautulli
    dir: ./tautulli/

  - <<: *template
    name: teamspeak
    dir: ./teamspeak/

  - <<: *template
    name: traefik
    dir: ./traefik/
    silence_pr_comments: [apply]

  - <<: *template
    name: vaultwarden
    dir: ./vaultwarden/

workflows:
  opentofu:
    plan:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu plan
    apply:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu apply -auto-approve

chore(deps): update prom/prometheus docker tag to v3.6.0
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/qbittorrent:latest docker digest to 3445128
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/bazarr:latest docker digest to e424330
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/wireguard:latest docker digest to 668ccce
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update docker:latest docker digest to 2ceb471
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/tautulli:latest docker digest to ec6714a
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update postgres docker tag to v18
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/sonarr:develop docker digest to e6a93fc
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to d3ca29c
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/qbittorrent:latest docker digest to 5f3785f
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/overseerr docker digest to e0761ee
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/bazarr:latest docker digest to cf7a02a
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/goauthentik/server docker tag to v2025.8.4
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update nextcloud docker tag to v32
  nextcloud/job/job.nomad.hcl
Due: nextcloud

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2025.8.4
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update docker:latest docker digest to c090c93
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/wireguard:latest docker digest to 7dc8e7e
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/qbittorrent:latest docker digest to f83e274
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to d8602c0
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update grafana/loki:latest docker digest to 2b10e3c
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/tautulli:latest docker digest to fb4002b
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to e4f5800
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.4.2
  flaresolverr/job/job.nomad.hcl
Due: flaresolverr

chore(deps): update linuxserver/wireguard:latest docker digest to 1224125
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update docker:latest docker digest to 2417311
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/overseerr docker digest to f92d51f
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/qbittorrent:latest docker digest to 0328013
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/bazarr:latest docker digest to 005f97f
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 42a2b65
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/sonarr:develop docker digest to db271c8
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to d67b156
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/qbittorrent:latest docker digest to 884b9b6
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 59e99ff
  lldap/job/job.nomad.hcl
Due: lldap
