Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

atlantis.yaml:

---
version: 3
automerge: true
delete_source_branch_on_merge: true
projects:
  - &template
    name: placeholder
    dir: placeholder
    workspace: default
    workflow: opentofu
    autoplan:
      enabled: true
      when_modified: ["*"]

  - <<: *template
    name: authelia
    dir: ./authelia/

  - <<: *template
    name: authentik
    dir: ./authentik/

  - <<: *template
    name: bazarr
    dir: ./bazarr/

  - <<: *template
    name: ceph-csi
    dir: ./ceph-csi/

  - <<: *template
    name: cloudflare-agent
    dir: ./cloudflare-agent/

  - <<: *template
    name: cloudflare-agent-cpl
    dir: ./cloudflare-agent-cpl/

  - <<: *template
    name: crowdsec
    dir: ./crowdsec/
    silence_pr_comments: [apply]

  - <<: *template
    name: flaresolverr
    dir: ./flaresolverr/

  - <<: *template
    name: gitea
    dir: ./gitea/
    silence_pr_comments: [apply]

  - <<: *template
    name: grafana
    dir: ./grafana/

  - <<: *template
    name: hashistack-backup
    dir: ./hashistack-backup/

  - <<: *template
    name: housekeeping-agent
    dir: ./housekeeping-agent/

  - <<: *template
    name: lldap
    dir: ./lldap/

  - <<: *template
    name: metrics
    dir: ./metrics/

  - <<: *template
    name: nextcloud
    dir: ./nextcloud/

  - <<: *template
    name: nfs-csi
    dir: ./nfs-csi/

  - <<: *template
    name: overseerr
    dir: ./overseerr/

  - <<: *template
    name: prowlarr
    dir: ./prowlarr/

  - <<: *template
    name: qbittorrent
    dir: ./qbittorrent/

  - <<: *template
    name: radarr
    dir: ./radarr/

  - <<: *template
    name: resume
    dir: ./resume/

  - <<: *template
    name: sonarr
    dir: ./sonarr/

  - <<: *template
    name: tautulli
    dir: ./tautulli/

  - <<: *template
    name: teamspeak
    dir: ./teamspeak/

  - <<: *template
    name: traefik
    dir: ./traefik/
    silence_pr_comments: [apply]

  - <<: *template
    name: vaultwarden
    dir: ./vaultwarden/

workflows:
  opentofu:
    plan:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu plan
    apply:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu apply -auto-approve

chore(deps): update linuxserver/overseerr docker digest to adfa9d2
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update prom/prometheus docker tag to v3.7.0
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/bazarr:latest docker digest to 750251d
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update grafana/loki:latest docker digest to 0eaee7b
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/wireguard:latest docker digest to 62f9c06
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/tautulli:latest docker digest to 173e2a7
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/qbittorrent:latest docker digest to 51dd497
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update prom/prometheus docker tag to v3.7.1
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/radarr docker tag to v5.28.0
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update linuxserver/sonarr:develop docker digest to 1c05aa0
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/overseerr docker digest to c5f3c0c
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update prom/prometheus docker tag to v3.7.2
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update crowdsecurity/crowdsec docker tag to v1.7.2
  crowdsec/job/job.nomad.hcl
Due: crowdsec

chore(deps): update linuxserver/bazarr:latest docker digest to a93c359
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/wireguard:latest docker digest to 394cc11
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/tautulli:latest docker digest to 6615694
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update crowdsecurity/crowdsec docker tag to v1.7.3
  crowdsec/job/job.nomad.hcl
Due: crowdsec

chore(deps): update nextcloud docker tag to v32.0.1
  nextcloud/job/job.nomad.hcl
Due: nextcloud

chore(deps): update linuxserver/sonarr:develop docker digest to 13250d2
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to 098d434
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/prowlarr docker tag to v2.1.5
  prowlarr/job/job.nomad.hcl
Due: prowlarr

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2025.10.0
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update ghcr.io/goauthentik/server docker tag to v2025.10.0
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.4.3
  flaresolverr/job/job.nomad.hcl
Due: flaresolverr

chore(deps): update linuxserver/bazarr:latest docker digest to a42fef2
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update gitea/gitea docker tag to v1.25
  gitea/job/job.nomad.hcl
Due: gitea

chore(deps): update linuxserver/sonarr:develop docker digest to 20dcec9
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update prom/prometheus docker tag to v3.7.3
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/tautulli:latest docker digest to f8b84be
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update docker:latest docker digest to ea9d204
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/qbittorrent:latest docker digest to 3908cec
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent
