Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

atlantis.yaml:

---
version: 3
automerge: true
delete_source_branch_on_merge: true
projects:
  - &template
    name: placeholder
    dir: placeholder
    workspace: default
    workflow: opentofu
    autoplan:
      enabled: true
      when_modified: ["*"]

  - <<: *template
    name: authelia
    dir: ./authelia/

  - <<: *template
    name: authentik
    dir: ./authentik/

  - <<: *template
    name: bazarr
    dir: ./bazarr/

  - <<: *template
    name: ceph-csi
    dir: ./ceph-csi/

  - <<: *template
    name: cloudflare-agent
    dir: ./cloudflare-agent/

  - <<: *template
    name: cloudflare-agent-cpl
    dir: ./cloudflare-agent-cpl/

  - <<: *template
    name: crowdsec
    dir: ./crowdsec/
    silence_pr_comments: [apply]

  - <<: *template
    name: flaresolverr
    dir: ./flaresolverr/

  - <<: *template
    name: gitea
    dir: ./gitea/
    silence_pr_comments: [apply]

  - <<: *template
    name: grafana
    dir: ./grafana/

  - <<: *template
    name: hashistack-backup
    dir: ./hashistack-backup/

  - <<: *template
    name: housekeeping-agent
    dir: ./housekeeping-agent/

  - <<: *template
    name: lldap
    dir: ./lldap/

  - <<: *template
    name: metrics
    dir: ./metrics/

  - <<: *template
    name: nextcloud
    dir: ./nextcloud/

  - <<: *template
    name: nfs-csi
    dir: ./nfs-csi/

  - <<: *template
    name: overseerr
    dir: ./overseerr/

  - <<: *template
    name: prowlarr
    dir: ./prowlarr/

  - <<: *template
    name: qbittorrent
    dir: ./qbittorrent/

  - <<: *template
    name: radarr
    dir: ./radarr/

  - <<: *template
    name: resume
    dir: ./resume/

  - <<: *template
    name: sonarr
    dir: ./sonarr/

  - <<: *template
    name: tautulli
    dir: ./tautulli/

  - <<: *template
    name: teamspeak
    dir: ./teamspeak/

  - <<: *template
    name: traefik
    dir: ./traefik/
    silence_pr_comments: [apply]

  - <<: *template
    name: vaultwarden
    dir: ./vaultwarden/

workflows:
  opentofu:
    plan:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu plan
    apply:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu apply -auto-approve

chore(deps): update linuxserver/overseerr docker digest to b3f7885
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/bazarr:latest docker digest to 034e679
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update docker:latest docker digest to 3a861ec
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update traefik docker tag to v3.4
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update redis docker tag to v8
  authentik/job/job.nomad.hcl
  gitea/job/job.nomad.hcl
  nextcloud/job/job.nomad.hcl
Due: authentik, gitea, nextcloud

chore(deps): update linuxserver/qbittorrent:latest docker digest to eb16ef4
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/bazarr:latest docker digest to 558d6dd
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/sonarr:develop docker digest to 1beb0d3
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update postgres docker tag to v17.5
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/tautulli:latest docker digest to a9b699b
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update docker:latest docker digest to 1e9d444
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 3de697c
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/qbittorrent:latest docker digest to 273c2ab
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/goauthentik/server docker tag to v2025.4.1
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update nextcloud docker tag to v31.0.5
  nextcloud/job/job.nomad.hcl
Due: nextcloud

chore(deps): update linuxserver/wireguard:latest docker digest to 7792dce
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2025.4.1
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update prom/prometheus docker tag to v3.4.0
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/tautulli:latest docker digest to 8b550f3
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/radarr docker tag to v5.23.3
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update linuxserver/bazarr:latest docker digest to 2458b13
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update linuxserver/overseerr docker digest to 01d48e3
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update terraform vault to v5
  atlantis/main.tf
  authelia/main.tf
  authentik/main.tf
  bazarr/main.tf
  ceph-csi/main.tf
  cloudflare-agent-cpl/main.tf
  cloudflare-agent/main.tf
  crowdsec/main.tf
  flaresolverr/main.tf
  gitea/main.tf
  grafana/main.tf
  hashistack-backup/main.tf
  housekeeping-agent/main.tf
  lldap/main.tf
  metrics/main.tf
  nextcloud/main.tf
  nfs-csi/main.tf
  overseerr/main.tf
  prowlarr/main.tf
  qbittorrent/main.tf
  radarr/main.tf
  resume/main.tf
  sonarr/main.tf
  tautulli/main.tf
  teamspeak/main.tf
  traefik/main.tf
  vaultwarden/main.tf
Due: authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

chore(deps): update docker:latest docker digest to e293493
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update grafana/grafana-oss docker tag to v12.0.1
  grafana/job/job.nomad.hcl
Due: grafana

chore(deps): update linuxserver/wireguard:latest docker digest to 039aab5
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update grafana/loki:latest docker digest to a745945
  metrics/job/job.nomad.hcl
Due: metrics

chore(deps): update linuxserver/tautulli:latest docker digest to 1bb2b36
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update docker:latest docker digest to eceba5b
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/sonarr:develop docker digest to 586a6c0
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to 0a3ef72
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/prowlarr docker tag to v1.36.3
  prowlarr/job/job.nomad.hcl
Due: prowlarr

chore(deps): update linuxserver/radarr docker tag to v5.25.0
  radarr/job/job.nomad.hcl
Due: radarr

chore(deps): update vaultwarden/server docker tag to v1.34.1
  vaultwarden/job/job.nomad.hcl
Due: vaultwarden

chore(deps): update linuxserver/bazarr:latest docker digest to 81d76b6
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update docker:latest docker digest to bbc5907
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/tautulli:latest docker digest to b7c5608
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update alpine docker tag to v3.22
  atlantis/job/job.nomad.hcl
Due: none

chore(deps): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.3.24
  flaresolverr/job/job.nomad.hcl
Due: flaresolverr

chore(deps): update linuxserver/overseerr docker digest to e958969
  overseerr/job/job.nomad.hcl
Due: overseerr
