Repository ednxzu/nomad-deployments: changes, and which Atlantis projects are due for each by the changed paths.
All: placeholder, authelia, authentik, bazarr, ceph-csi, cloudflare-agent, cloudflare-agent-cpl, crowdsec, flaresolverr, gitea, grafana, hashistack-backup, housekeeping-agent, lldap, metrics, nextcloud, nfs-csi, overseerr, prowlarr, qbittorrent, radarr, resume, sonarr, tautulli, teamspeak, traefik, vaultwarden

atlantis.yaml:

---
version: 3
automerge: true
delete_source_branch_on_merge: true
projects:
  - &template
    name: placeholder
    dir: placeholder
    workspace: default
    workflow: opentofu
    autoplan:
      enabled: true
      when_modified: ["*"]

  - <<: *template
    name: authelia
    dir: ./authelia/

  - <<: *template
    name: authentik
    dir: ./authentik/

  - <<: *template
    name: bazarr
    dir: ./bazarr/

  - <<: *template
    name: ceph-csi
    dir: ./ceph-csi/

  - <<: *template
    name: cloudflare-agent
    dir: ./cloudflare-agent/

  - <<: *template
    name: cloudflare-agent-cpl
    dir: ./cloudflare-agent-cpl/

  - <<: *template
    name: crowdsec
    dir: ./crowdsec/
    silence_pr_comments: [apply]

  - <<: *template
    name: flaresolverr
    dir: ./flaresolverr/

  - <<: *template
    name: gitea
    dir: ./gitea/
    silence_pr_comments: [apply]

  - <<: *template
    name: grafana
    dir: ./grafana/

  - <<: *template
    name: hashistack-backup
    dir: ./hashistack-backup/

  - <<: *template
    name: housekeeping-agent
    dir: ./housekeeping-agent/

  - <<: *template
    name: lldap
    dir: ./lldap/

  - <<: *template
    name: metrics
    dir: ./metrics/

  - <<: *template
    name: nextcloud
    dir: ./nextcloud/

  - <<: *template
    name: nfs-csi
    dir: ./nfs-csi/

  - <<: *template
    name: overseerr
    dir: ./overseerr/

  - <<: *template
    name: prowlarr
    dir: ./prowlarr/

  - <<: *template
    name: qbittorrent
    dir: ./qbittorrent/

  - <<: *template
    name: radarr
    dir: ./radarr/

  - <<: *template
    name: resume
    dir: ./resume/

  - <<: *template
    name: sonarr
    dir: ./sonarr/

  - <<: *template
    name: tautulli
    dir: ./tautulli/

  - <<: *template
    name: teamspeak
    dir: ./teamspeak/

  - <<: *template
    name: traefik
    dir: ./traefik/
    silence_pr_comments: [apply]

  - <<: *template
    name: vaultwarden
    dir: ./vaultwarden/

workflows:
  opentofu:
    plan:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu plan
    apply:
      steps:
        - env:
            name: NOMAD_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/nomad/creds/full-access | grep -o '"secret_id":"[^"]*' | sed 's/"secret_id":"//'
        - env:
            name: CONSUL_HTTP_TOKEN
            command: |
              curl --silent --header "X-Vault-Token: $VAULT_TOKEN" https://vault.ednz.fr/v1/consul/creds/admins | grep -o '"token":"[^"]*' | sed 's/"token":"//'
        - run: rm -rf .terraform
        - run: /alloc/data/tofu init -upgrade -reconfigure
        - run: /alloc/data/tofu apply -auto-approve

chore(deps): update linuxserver/sonarr:develop docker digest to a8f2865
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/tautulli:latest docker digest to 12361f8
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update docker:latest docker digest to 4438340
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update ghcr.io/runatlantis/atlantis docker tag to v0.35.1
  atlantis/job/job.nomad.hcl
Due: none

chore(deps): update vaultwarden/server docker tag to v1.34.3
  vaultwarden/job/job.nomad.hcl
Due: vaultwarden

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 18ec9f6
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/bazarr:latest docker digest to 911483a
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update docker:latest docker digest to cf5c79b
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/wireguard:latest docker digest to e4a2117
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update redis docker tag to v8.2
  authentik/job/job.nomad.hcl
  gitea/job/job.nomad.hcl
  nextcloud/job/job.nomad.hcl
Due: authentik, gitea, nextcloud

chore(deps): update linuxserver/qbittorrent:latest docker digest to a755d9f
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/tautulli:latest docker digest to 5004000
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update linuxserver/bazarr:latest docker digest to 9530eb0
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to ddef678
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update docker:latest docker digest to c0872aa
  housekeeping-agent/job/job.nomad.hcl
Due: housekeeping-agent

chore(deps): update linuxserver/wireguard:latest docker digest to ae0a555
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update linuxserver/overseerr docker digest to f0bb474
  overseerr/job/job.nomad.hcl
Due: overseerr

chore(deps): update linuxserver/qbittorrent:latest docker digest to 90c9eaa
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 4ca4173
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/bazarr:latest docker digest to 591793a
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 0764b30
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update postgres docker tag to v17.6
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update linuxserver/tautulli:latest docker digest to a87d3d0
  tautulli/job/job.nomad.hcl
Due: tautulli

chore(deps): update nextcloud docker tag to v31.0.8
  nextcloud/job/job.nomad.hcl
Due: nextcloud

chore(deps): update grafana/grafana-oss docker tag to v12.1.1
  grafana/job/job.nomad.hcl
Due: grafana

chore(deps): update linuxserver/sonarr:develop docker digest to e8869a1
  sonarr/job/job.nomad.hcl
Due: sonarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to e18ca17
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent

chore(deps): update ghcr.io/goauthentik/server docker tag to v2025.8.1
  authentik/job/job.nomad.hcl
Due: authentik

chore(deps): update ghcr.io/goauthentik/proxy docker tag to v2025.8.1
  traefik/job/job.nomad.hcl
Due: traefik

chore(deps): update linuxserver/bazarr:latest docker digest to d37a88f
  bazarr/job/job.nomad.hcl
Due: bazarr

chore(deps): update ghcr.io/lldap/lldap:latest docker digest to 520b45c
  lldap/job/job.nomad.hcl
Due: lldap

chore(deps): update linuxserver/prowlarr docker tag to v2
  prowlarr/job/job.nomad.hcl
Due: prowlarr

chore(deps): update linuxserver/qbittorrent:latest docker digest to ebfd008
  qbittorrent/job/job.nomad.hcl
Due: qbittorrent
